body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;   /* horizontal centering */
  align-items: center;       /* vertical centering */
  height: 100vh;             /* full viewport height */
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



#game-board { 
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-template-rows: repeat(6, 60px);
  gap: 5px;
  height:30%;
  width: 97%;
  background-color: #238aff;
  padding: 10px;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: #eee;
  border-radius: 50%;
  background-size: 103%;        /* Scales image to fit */
  background-repeat: no-repeat;    /* Prevents tiling */
  background-position: center;     /* Centers the image */
}


/* the hover is gonna be changed to make the column darker */
.cell:hover {
  background-image: #444444;
  opacity: 0.5;
  cursor: pointer;
}


